<script lang="ts" setup>
import { ref } from "vue";
import ProductPop from "@/components/ProductPop.vue";
import { useProductStore } from "../stores/ProductStore";
const useStore = useProductStore();

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <!-- {{ products }} -->
  <!-- <v-container> -->
  <v-row class="ma-7">
    <v-col cols="6">
      <v-container class="scroll">
        <v-row>
          <v-col v-for="(item, index) of products" :key="index">
            <ProductPop :id="item.id" :name="item.name" :price="item.price">
            </ProductPop> </v-col></v-row
      ></v-container>
    </v-col>
    <v-col cols="6">
      <v-container class="scroll-right">
        <v-table>
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody v-if="useStore.products.length == 0">
            <td></td>
            <th class="text-center pa-5">NO DATA</th>
          </tbody>
          <tbody v-else-if="useStore.products.length != 0">
            <tr v-for="(item, index) of useStore.products" :key="item.id">
              <td>{{ index }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-container>
      <v-row class="ma-6" style="font-size: xx-large"
        >Sum : {{ useStore.sum }}</v-row
      >
    </v-col>
  </v-row>
  <!-- </v-container> -->
</template>
<style scoped>
.scroll {
  height: 10%;
  overflow: auto;
}
.scroll-right {
  height: 9%;
  overflow: auto;
}
</style>
