<script lang="ts" setup>
// import {mdiEmoticonHappyOutline} from '@mdi/js';
import { ref } from "vue";

let feel = ref("SMILE");
let imgSrc = ref("@/../feeling_imgs/smile.png");

function checkFeel(id: number) {
  if (id == 1) {
    feel.value = "ANGRY";
    imgSrc.value = "@/../feeling_imgs/angry.png";
  } else if (id == 2) {
    feel.value = "CUTE";
    imgSrc.value = "@/../feeling_imgs/cute.png";
  } else if (id == 3) {
    feel.value = "EXCITED";
    imgSrc.value = "@/../feeling_imgs/excited.png";
  } else if (id == 4) {
    feel.value = "PAIN";
    imgSrc.value = "@/../feeling_imgs/pain.png";
  } else if (id == 5) {
    feel.value = "SHOCKED";
    imgSrc.value = "@/../feeling_imgs/shocked.png";
  } else if (id == 6) {
    feel.value = "SMILE";
    imgSrc.value = "@/../feeling_imgs/smile.png";
  }
}
</script>
<template>
  <div>
    <v-row class="pt-10">
      <v-col cols="6" align="center" justify="center">
        <!-- <v-icon class="icon" :icon="mdiEmoticonHappyOutline" /> -->
        <v-img :src="imgSrc" class="sizeImg"></v-img>
      </v-col>
      <v-col cols="5">
        <v-row
          style="height: 100px; font-size: 51px"
          align="center"
          justify="center"
          v-model="feel"
          >{{ feel }}</v-row
        >
        <v-row class="pt-6">
          <v-btn width="100%" height="50px" @click="checkFeel(1)">ANGRY</v-btn>
        </v-row>
        <v-row class="pt-6">
          <v-btn width="100%" height="50px" @click="checkFeel(2)">CUTE</v-btn>
        </v-row>
        <v-row class="pt-6">
          <v-btn width="100%" height="50px" @click="checkFeel(3)"
            >EXCITED</v-btn
          >
        </v-row>
        <v-row class="pt-6">
          <v-btn width="100%" height="50px" @click="checkFeel(4)">PAIN</v-btn>
        </v-row>
        <v-row class="pt-6">
          <v-btn width="100%" height="50px" @click="checkFeel(5)"
            >SHOCKED</v-btn
          >
        </v-row>
        <v-row class="pt-6">
          <v-btn width="100%" height="50px" @click="checkFeel(6)">SMILE</v-btn>
        </v-row>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
  </div>
</template>

<style scoped>
.sizeImg {
  width: 85%;
  height: 85%;
}

.v-btn:focus {
  background-color: yellow;
  width: "100%";
  height: "50px";
}
</style>
