<script lang="ts" setup>
import { ref } from "vue";
let inputNumber = ref("0");
</script>
<template>
  <v-row>
    <v-text-field
      class="pa-10"
      label="Please input Number"
      v-model.number="inputNumber"
      :rules="[(v) => !!v || 'Number is not Empty!!!']"
      required
    ></v-text-field
  ></v-row>
  <v-row class="pa-10">
    <v-col
      v-for="(item, index) of inputNumber"
      :key="index"
      class="custom12cols"
      ><template v-if="item != '0'">
        {{ item }}
      </template></v-col
    >
  </v-row>
</template>
<style scoped>
.custom12cols {
  width: 8.3%;
  max-width: 8.3%;
  flex-basis: 8.3%;
  text-align: center;
}
</style>
