<script setup lang="ts">
import { ref } from "vue";
import FirstComp from "../components/FirstComponent.vue";
import SecondComp from "@/components/SecondComponent.vue";

let output = ref(0);
</script>
<template>
  <div>
    <v-row class="pa-10" v-model="output">
      <v-col cols="6">
        <FirstComp :output="output"> </FirstComp>
      </v-col>
      <v-col cols="6">
        <SecondComp :output="output"> </SecondComp>
      </v-col>
    </v-row>
  </div>
</template>
