<script setup lang="ts">
import { useCalStore } from "../stores/Calculate";
const useStore = useCalStore();

const increment = () => {
  useStore.increment();
};
</script>
<template>
  <v-container>
    <v-card-item>
      <div>
        <div>FirstComponent</div>
        <div>{{ useStore.output }}</div>
      </div>
    </v-card-item>

    <v-card-actions>
      <div variant="flat" elevation="4">
        <v-btn variant="flat" elevation="3" @click="increment()"
          >INCREMENT</v-btn
        >
      </div>
    </v-card-actions>
  </v-container>
</template>
