<script setup lang="ts">
import { ref } from "vue";
import { useProductStore } from "../stores/ProductStore";
const useStore = useProductStore();

const props = defineProps<{
  id: number;
  name: string;
  price: number;
}>();

const addNewProduct = (id: number, name: string, price: number) => {
  useStore.saveProduct(id, name, price);
};
</script>

<template>
  <v-card width="190px" height="140px">
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-h10 mb-1">{{ props.price }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn
        variant="flat"
        elevation="3"
        @click="addNewProduct(props.id, props.name, props.price)"
      >
        ADD
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
