<script setup lang="ts">
import { useCalStore } from "../stores/Calculate";
const useStore = useCalStore();

const decrease = () => {
  useStore.decrease();
};
</script>
<template>
  <v-container>
    <v-card-item>
      <div>
        <div>SecondComponent</div>
        <div>{{ useStore.output * 2 }}</div>
      </div>
    </v-card-item>

    <v-card-actions>
      <div variant="flat" elevation="4">
        <v-btn variant="flat" elevation="3" @click="decrease()">DECREASE</v-btn>
      </div>
    </v-card-actions>
  </v-container>
</template>
